In [1]:
import pandas as pd

from data_processing import *

In [5]:
building = load_and_process_building("/Users/adrian/Documents/ICAI/4o/AI Lab/data/buildings/188-16.parquet")
building2 = load_and_process_building("/Users/adrian/Documents/ICAI/4o/AI Lab/data/buildings/192-16.parquet")

In [12]:
len(building2)

35040

In [10]:
len(building)

35040

In [7]:
buildings = pd.concat([building, building2], ignore_index=True)

In [13]:
buildings.iloc[35035:35045]

                timestamp  indoor_temp
35035 2018-12-31 23:00:00    21.111111
35036 2018-12-31 23:15:00    21.111111
35037 2018-12-31 23:30:00    21.111111
35038 2018-12-31 23:45:00    21.111111
35039 2019-01-01 00:00:00    21.111111
35040 2018-01-01 00:15:00    15.226654
35041 2018-01-01 00:30:00    14.953407
35042 2018-01-01 00:45:00    14.681111
35043 2018-01-01 01:00:00    14.409190
35044 2018-01-01 01:15:00    14.217419